@model NewsModel

<div class="col-md-6">
    <div class="tn-img">
        <img src="/images/get/@Model.ImageId" />
        <div class="tn-title">
            <a href="/home/details/@Model.Id">@Model.Title</a>
        </div>
    </div>
</div>
