@model NewsModel

<div class="col-md-6">
    <div class="tn-img">
        <img src=@Model.Image />
        <div class="tn-title">
            <a href="">@Model.Title</a>
        </div>
    </div>
</div>
