@model NewsDetailsModel

<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-img">
                        <img src="/@Model.News.Image" />
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title">@Model.News.Title</h1>
                        @foreach (var paragraps in @Model.Details)
                        {
                            <p>@paragraps</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
