@model NewsDetailsModel

<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-img">
                        <img src="/images/get/@Model.News.ImageId" />
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title">@Model.News.Title</h1>
                        <a asp-action="edit" asp-route-id=@Model.News.Id class="btn btn-warning">Edit</a>
                        <a asp-action="delete" asp-route-id=@Model.News.Id class="btn btn-danger">Delete</a>
                        @foreach (var paragraps in @Model.Details)
                        {
                            <p>@paragraps</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
